body {
    display: flex;
    justify-content: center;
    font-family: "Avenir";
}

.main-container {
    width: 100vw;
    margin: auto;
    padding-top: 10px;
}

.center {
    text-align: center;
}

.full-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.row>p {
    margin-top: 6px;
}